.background{
    position:fixed;

    .backgroundImg-Wrap{
        z-index: -1;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .backgroundImg{

            width: 100%;
            height: 100%;
            opacity: .5;
            
        }
    }
}