.clock{
    padding: 5rem 10rem;
    color: white;
      transition: .7s ease-in-out;

    position: relative;
    .greetings-wrap{
        .greetings{
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 16pt;
            .time-icon{
                margin-right: 10px;
            }
        }
    }

    .time-wrap{
        display: flex;
        flex-direction: column;
        .time{
            font-size:100pt;
            margin: 0;
            font-weight: bold;
            span{
                font-size: 16pt ;
                font-weight: normal;
            }
           
        }
        .location-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .location
            {margin:  0;
                font-weight: bold;
                font-size: 20pt;
                letter-spacing:5px;
                display: flex;
            }
        }
        

        .see-more-wrap{

            .see-more-btn{
                cursor: pointer;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: white;
                color: gray;
                border: 0;
                outline: 0;
                width: 130px;
                border-radius: 20px;
                height: 50px;
                text-transform: uppercase;

                .arrow{
                    transition: .3s ease;
                }
                .arrow-down{
                    transform: rotate(0deg);
                }
                .arrow-up{
                    transform: rotate(180deg);
                }
            }

           
        }
    }
    
}

@media screen and (max-width:756px){
    .clock{
        padding: 5rem 5rem;
        .time-wrap{
            .location-wrap{
                flex-direction: column;
                align-items: flex-start;
                .see-more-btn{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:567px){

    .clock{
        padding: 5rem 1rem;
        .time-wrap{
           flex-wrap: wrap;;
            .time{
                line-height: 50px;
                font-size: 50pt;
            }
        }
        .greetings-wrap{
            .greetings{
                margin-bottom: 50px;
            }
        }
    }
}


@media screen and (max-width:756px){
    .main{
        
    }
}


@media screen and (max-width:567px){
    .main{
      
    }
}