.main{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .7s ease;
   
}

.slide-up{
    transform: translate3d(0, -30em, 0);
}


@media screen and(max-width:756px){
    .slide-up{
        transform: translate3d(0, -15em, 0);

    }
}
