.main{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .7s ease;
    position: relative;
    .attribution { 
        font-size: 12pt;
        text-align: center;
        color: whitesmoke;
        position: fixed;
        bottom: 10px;
       
        margin-right: auto;
        margin-left: auto;
        right: 0;
        left: 0;

        a{
          &:visited{
              color: white;
          }  
        }
        
    }
}

.slide-up{
    transform: translate3d(0, -24em, 0);
}


@media screen and(max-width:756px){
    .slide-up{
        transform: translate3d(0, -15em, 0);

    }
}
