.more-info{
   position: absolute;
   width: 100%;     
   height: 27em; 
   transition: .7s ease-in-out;
   left: 0;
   bottom:-27em;
 

   .content-wrap{
    padding: 9em;
    padding-top: 70px;
    height: 100%;
    
  

       .content{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
       
        .left-panel,.right-panel{
            display: flex;
            flex-direction: column;
        }
          
           .timezone,.day-of-year,.day-of-week,.week-number{
               .label{
                   color: rgb(165, 160, 160);
                   text-transform: uppercase;
                   
               }

               .text{
                   font-size: 20pt;
               }
           }
       }
       .divider{
        border-left: 1px solid #bbb;
        height: 60%;        

       }
   }
   
}
.night{
    background-color: rgba(0, 0, 0, 0.934);
    color: white;
}

@media screen and(max-width:756px){
    .more-info{
       .content-wrap{
           padding: 1em ;
           .content{
               display: flex;
            .timezone,.day-of-year,.day-of-week,.week-number{
                .text{
                    font-size: 15pt;
                }
                .label{
                    font-size: 10pt;
                    width: 100%;
                }
            }
           .divider{
               height: 50%;
           }
           }
       }
    }
}
@media screen and(max-width:567px){
    .more-info{
        padding:  0em;

        .content-wrap{
            
            .content{
              display: flex ;
              justify-content: flex-start;
              position: relative;
              height: 12em;
                flex-direction: column-reverse ;
                .timezone,.day-of-year,.day-of-week,.week-number{
                    display: flex;
                    margin-bottom: 25px;
             
                   .text,.label{
                       margin: 0;
                   }
                }.left-panel{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
               
            }
            
        }
        .divider{
            display: none;
        }
    }
}




