.quote{
   z-index: 1;
   color: white;
   min-height: 100px;
   padding: 5rem 10rem;
   width: 400px;
   .content{
      
       display: flex;
     
    .refresh{
        cursor: pointer;
        display: inline;   
        margin-left: 20px;
        max-height: 20px;
        align-self: top;
       
    }
    .quote-content{
        font-size: 12pt;
        font-weight: 300;
        width: 300px;
        margin: 0;
        align-self: top;
        
    }
   }
   
   .refresh-spin{
       animation: spin 1s  linear infinite ;
       
   }
   @keyframes spin{
       0%{transform: rotate(0deg);}
       50%{transform: rotate(180deg);}
       100%{transform: rotate(360deg);}
      
   }

}

@media screen and(max-width:756px){
    .quote{

        padding: 5rem 5rem;
    }
}
@media screen and(max-width:567px){
    .quote{

        padding: 5rem 1rem;
    }
}